# Build e arquivos temporários
build/
*.tmp
*.cmb

# Meson / Flatpak
.in

# Arquivos de cache e logs
*.log
.cache/

# Arquivos de sistema
*.swp
*.DS_Store
*.bak

# Flatpak-builder específico
.flatpak-builder/

